.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.advantages__lead {
  padding: 14px 58px 0;
  background-color: #ffffff;
}

.advantages__lead p {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.32;
  text-align: center;
}

.advantages-wrapper__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 67px 30px 0;
  background-color: #f2f2f2;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.71;
  text-align: center;
}

.advantages__description {
  color: #283645;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
}

.advantages__img {
  padding-top: 29px;
}

@media (min-width: @tablet-width) {
  .advantages-wrapper__container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 0 20px 29px;
  }

  .advantages__lead {
    padding: 44px 36px 0;
  }

  .advantages__lead p {
    font-size: 40px;
    margin: 0;
  }


  .advantages__lead p:nth-child(2) {
    padding: 0 31px;
  }

  .advantages__img {
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    margin-left: 20px;
  }

  .advantages__list {
    margin-top: 60px;
    margin-left: 309px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .advantages__item {
    min-height: 716px;
  }

  .advantages__img {
    display: none;
  }

  .iphone-screen-1 {
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
  }

  .iphone-screen-2 {
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;
  }

  .iphone-screen-3 {
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
  }

  .advantages__lead {
    font-size: 50px;
  }

  .advantages__text {
    margin-top: 360px;
  }

  .advantages__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
  }

  .advantages__description {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    text-align: center;
  }
}
