.download {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #17212d;
}

.download a {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.download__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 229px;
  padding: 0;
  list-style: none;
}

.download__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  padding: 0 26px;
}

@media (min-width: @tablet-width) {
  .download {
    background-color: transparent;
    width: 294px;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 112px;
  }
}
