.editor {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.editor__image--label {
  background-image: url("../img/photo-road-mobile@1x.jpg");
  display: block;
  width: 280px;
  height: 374px;
  margin: 0 auto;
  background-size: cover;
}

.editor__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.editor__button {
  color: rgba(40, 54, 69, 0.1);
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .editor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .editor-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .editor__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .editor__submit {
    display: flex;
    flex-direction: row;
  }
}
