.form {
  display: flex;
  flex-direction: column;
  margin-right: 22px;
}

.form__title {
  color: #283645;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin: 75px 25px;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 59px;
}

.form__item label {
  color: #d22856;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.form__item input {
  color: #283645;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-align: left;
  border: 2px solid #e5e5e5;
}

.form__tip {
  color: #283645;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
