.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #283645;

  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav{
    display: flex;
    flex-direction: row;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    min-height: 110px;
  }

.main-nav__toggle {
  display: none;
}

  .site-list {
    width: 681px;
  }
}

.site-list__item {
  list-style: none;
  color: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
}
