.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #283645;
  width: 320px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    min-height: 110px;
  }

  .main-nav__toggle {
    display: none;
  }
}
