.newsfeed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.newsfeed__title {
  color: #283645;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding: 31px 40px 35px;
}

.newsfeed__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.newsfeed__image-pano {
  width: 100%;
}

.newsfeed__pano {
  margin: 0;
}

.newsfeed__photo {
  margin-bottom: -8px;
}


.newsfeed__item {
  display: flex;
  flex-direction: column;
}

.newsfeed__text {
  background-color: #f2f2f2;
  margin: 0 20px 20px;
  padding: 18px 17px 20px;
}

.newsfeed__author-name {
  color: #283645;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.newsfeed__time {
  line-height: 1.71;
  font-weight: 300;
}

.newsfeed__desc {
  color: #283645;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.newsfeed__like {
  display: none;
} /*Нарисовать сердечко лайка*/

.newsfeed__likes {
  color: #d22856;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  margin: 10px 33px 0;
}

@media (min-width: @tablet-width) {
  .newsfeed__image-pano {
    width: 100%;
  }

  .newsfeed__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .newsfeed__title {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 92px 46px 77px;
  }

  .newsfeed__text {
    margin: 0 20px 41px;
    padding: 24px 27px 0px;
}

  .newsfeed__item {
    width: 300px;
  }

  .newsfeed__item:nth-child(1) {
    width: 100%;
  }

  .photo__pano-of-the-day { /*Временно*/
    height: 516px;
  }
}

@media (min-width: @desktop-width) {
  .newsfeed__title {
    margin: 0;
    padding: 92px 279px 87px;
  }

  .newsfeed__item {
    width: 33%;
  }

  .newsfeed__item:nth-child(1) {
    width: 100%;
  }
}
