.page-footer__index {
  display: none;
}

.page-footer {
  display: flex;
  flex-direction: column;
  padding: 40px 73px;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 43px 0;
  list-style: none;
}

.page-footer__copywright {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.copywright__text {
  color: #283645;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .page-footer__index {
    display: flex;
  }

  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 126px;
    margin-bottom: 100px;
  }

  .page-footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
