.page-main__container {
  display: flex;
  flex-direction: column;
  background-color: #283645;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat no-repeat;
  background-size: 258px 286px, cover;
  background-position: left 109px, center top;
}

.page-main__title {
  display: flex;
  flex-direction: column;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; /*Здесь неправильная позиция*/
}

.page-main__slogan {
  color: #ffffff;
  padding: 22px 45px 313px;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__title h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.photo__title {
  margin: 0;
  padding: 13px 45px 65px;
}

.form__title {
  margin: 0;
  padding: 12px 45px 36px;
}


@media (min-width: @tablet-width) {
  .page-main__container {
    height: 619px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 700px 545px, cover;
    background-position: -20px 74px, center top;
  }

  .page-main__slogan {
    width: 190px;
    margin: 93px 0 31px 75px;
    font-size: 40px;
    line-height: 1.2;
    padding: 0;
  }

  .page-main__title h1 {
    font-size: 50px;
    line-height: 56px;
    margin: 76px 75px 143px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__container {
    height: 743px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 1042px 656px, cover;
    background-position: 151px 92px, center top;
  }

  .page-main__slogan {
    width: 231px;
    margin: 108px 0 52px 163px;
    font-size: 50px;
    line-height: 60px;
    padding: 0;
  }

  .page-main__title h1 {
    font-size: 50px;
    line-height: 55px;
    margin: 67px 272px 107px;
  }
}
