.page-header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__logo--mobile {
  display: block;
  content: "";

  position: absolute;
  top: 22px;
  left: 20px;
  z-index: 1;
}

.page-header__logo--tablet,
.page-header__logo--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__logo--tablet {
    display: block;
    content: "";

    position: absolute;
    top: 27px;
    left: 20px;
    z-index: 1;
  }

  .page-header__logo--mobile {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo--desktop {
    display: block;
    content: "";

    position: absolute;
    top: 27px;
    left: 131px;
    z-index: 1;
  }

  .page-header__logo--mobile,
  .page-header__logo--tablet {
    display: none;
  }
}
