.reviews {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.reviews__wrapper {
  padding: 49px 22px;
}

.reviews__author-name {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.reviews__text {
  color: #283645;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
}

.slider__list {
  display: none;
}
